<!-- this file is holding up the structure for the main PAGE AND PERFORM routing using <router-outlet></router-outlet> -->

<header>
    <div class="header">
        <div class="udata text-left">
    <img src="../../../assets/img/logo.png" alt=""/>
</div>
    <div class="udata float-right pt-3 pr-3">
        <span>Welcome : {{dataAvailabe.Name}}</span><br>
        <span>Availabe Balance : {{dataAvailabe.AccountBalance}}</span>
    </div>
</div>
</header>
<div class="container-fluid main-contain">
    <router-outlet></router-outlet>
</div>