<div class="container mt-5 p-3 rounded cart">
    <div class="row no-gutters">
        <div class="col-md-12">
            <div class="product-details mr-2">
                <div class="d-flex flex-row align-items-center"><span class="ml-2">Continue Shopping</span></div>
                <hr>
       
                <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded" *ngFor="let item of allProduct | async;index as i">
                    <div class="d-flex flex-row"><img class="rounded" [src]="item.Image" width="40">
                        <div class="ml-2"><span class="font-weight-bold d-block">{{item.Name}}</span><span class="spec">Make :{{item.Make}}</span></div>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="ml-2"><span class="d-block">Start Time :{{item.Challenge.StartTime}}</span><span class="spec">End Time :{{item.Challenge.EndTime}}</span></div>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="ml-2"><span class="d-block">Total Bid(s) :{{item.Bids.length}}</span>Status:<span [ngClass]="status(i) ? 'logged-in' : 'logged-out'"> ●</span></div>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <!-- <span class="d-block p-3">Total Bids : {{item.Bids.length}}</span> -->
                        <button type="button" class="btn btn-warning" (click)="goForBidding(i)">Make a bid</button>
                   </div>
                </div>
            </div>
        </div>
        </div>
</div>