<div class="container mt-5 rounded cart">
    <div class="row no-gutters">
        <div class="col-md-12">
            <div class="product-details mr-2">
                <div class="d-flex flex-row align-items-center"><span class="ml-2 font-weight-bold">Product Name : {{getProductDetail().Name}} </span></div>
                <hr>
       <div class="col-md-12">
        <img [src]="getProductDetail().Image" class="img-fluid top1" alt="Responsive image">
       </div>
       <div class="col-md-12 p-3">
        <div class="d-flex flex-row align-items-center">
            <span class="d-block text-left col-md-4">Base Price: {{getProductDetail().BasePrice}}</span>
            <span class="d-block text-center col-md-4">Total Bid(s) : {{getProductDetail().Bids.length}}</span>
            <span class="d-block text-right col-md-4">Your Bid Price : {{getProductDetailBidPrice()}}</span>
      </div>
    </div>
    <div class="col-md-12 pt-3 pl-4 text-center">
        <button type="button" class="btn btn-warning" (click)="makeaBid(getProductDetailBidPrice())">Bid</button>
    </div>  
       </div>
            </div>
        </div>
        </div>
      